<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-container *ngIf="!loading">
  <button class="btn btn-primary" (click)="exportExcel()">Export to excel sheet</button>
  
  <table class="table table-striped table-hover border mt-4" #responseSheet>
    <thead>
      <tr>
        <th [attr.colspan]="sheetData.headings?.length+1" class="text-center fs-5">{{sheetData.title}}</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col" *ngFor="let heading of sheetData.headings">{{heading}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of sheetData.responses, index as i">
        <th scope="row">{{i+1}}</th>
        <td *ngFor="let col of row">{{col}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>