.card{
    border-left: 0.25rem solid brown;
}

.titles{
    font-weight: bold;
    /* font-size: 1rem; */
}

.mycard{
    width: 48%;
}

.mybtn{
    border-radius: 17px;
    padding: 0.5rem 0.75rem;
    width: 20%;
}

.modal-dialog{
    max-width: 720px;
}

.action-buttons{
    display: flex;
    justify-content: space-evenly;
}

.action-buttons button, .action-buttons .btn-group{
    width: 23%;
}




@media (max-width: 767.98px){
    .mycard{
        width: 100%;
    }
}
