.auth{
    position: relative;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    background-image: linear-gradient(to bottom right,  rgb(156, 151, 151),rgb(112, 117, 117));
    padding: 10px 20px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 9px;
    top: 10vh;
}
form{
    margin-bottom:10px
}

p a{
    cursor: pointer;
}

.form-group{
    width: 100%;
}

input.ng-valid.ng-touched{
    border-color: green;
}

input.ng-invalid.ng-touched{
    border-color: red;
}

