<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Dynamic Form</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <form class="d-flex m-auto" role="search">
        <h1 class="text-secondary mb-0">{{name}}</h1>
      </form>

      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <li class="nav-item mx-2 dropdown">
          <a class="nav-link dropdown-toggle" id="notificationList" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell me-1 position-relative">
              <span
                class="position-absolute top-0 start-100 translate-middle border border-none rounded-circle notification-dot"
                *ngIf="notificationList.length" #notificationDot>
                <span class="visually-hidden"></span>
              </span>
            </i>Notifications</a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationList">
            <li class="px-2"><button class="btn btn-danger w-100" (click)="deleteAll()">Delete All</button></li>
            <li *ngIf="notificationList.length"><hr class="dropdown-divider"></li>
            <li class="mt-1" *ngFor="let notification of notificationList, index as i">
              <a class="dropdown-item py-2" (click)="goToChat(notification.roomId)">A new notification from the form named "{{notification.roomName}}"</a>
            </li>
          </ul>
        </li>


        <li class="nav-item mx-2">
          <a class="nav-link" routerLinkActive="active" routerLink="/create"
            [routerLinkActiveOptions]="{exact: true}">New Form</a>
        </li>
        <li class="nav-item ">
          <button class="btn btn-outline-secondary ms-3" aria-current="page" (click)="changeLog()">{{token? 'Log Out':
            'Login'}}</button>
        </li>
      </ul>

    </div>
  </div>
</nav>